{% extends 'baseProfile.html' %}

{% block content %}
<div class="add-product">
    <h1 style="text-align: center;">Add Product</h1><br>
    <form action="" method="post" style="text-align: center;">
        {% csrf_token %}
        <label for="category">Category :</label>
        <input type="text" name="category" id="category"><br><br>
    
        <label for="title">Title :</label>
        <input type="text" name="title" id="title"><br><br>
    
        <label for="description">Description :</label>
        <textarea name="description" id="description" cols="30" rows="10"></textarea><br><br>
    
        <label for="price">Price :</label>
        <input type="number" name="price" id="price"><br><br>
    
        <input type="file" name="photo" id="photo"><br><br>
    
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock content %}