<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Document
        {% endblock title %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Product</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Category
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- <li><a class="dropdown-item" href="#">Mobile</a></li>
                            <li><a class="dropdown-item" href="#">Laptop</a></li>
                            <li><a class="dropdown-item" href="#">Headphones</a></li>
                            <li><a class="dropdown-item" href="#">PC</a></li> -->
                            {% for list in category_menu %}
                            <li><a class="dropdown-item a" >{{list}}</a></li>
                            {% endfor %}
                        </ul>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'addproduct' %}">Add Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'userproduct' %}">My Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-current="page" href="#">Hello <b>{{user}}</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Log Out</a>
                    </li>
                </ul>
                <form class="d-flex" >
                    
                    <input class="form-control me-2" type="search" id="search" name="search" placeholder="Search"
                        aria-label="Search">
                    <button class="btn btn-outline-success" id="button" type="button">Search</button>
                </form>
            </div>
        </div>
    </nav>
    {% endblock navbar %}
    {% block content %}
    {% endblock content %}

    <script>
// ------------------------------Search Bar AJAX Code---------------------------------
            $('#button').on('click',function(){
                let searched = $('#search').val();
                $.ajax({
                    type: "get",
                    url: "/search/",
                    data: {search : searched},
                    success: function(data){
                        console.log(data)
                        let a = JSON.parse(data)
                        console.log('SUCCESS');
                        console.log(a);
                        $('.main').empty()
                        
                           for (const key in a) {
                               let b = a[key].fields;
                               $('.main').append(`<div class="card mb-3" style="text-align: center;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/media/${b.product_image}" class="img-fluid rounded-start" alt="product_image">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Name :- ${b.product_name}</h5>
                  <p class="card-text">Description :- ${b.product_description}</p>
                  <h5 class="card-title">Price :- ₹${b.product_price}</h5>
                  <h5 class="card-title">Username :- ${b.user}</h5>
                  <a href="/details/${a[key].pk}/" class="btn btn-primary">Readmore</a>
                </div>
              </div>
            </div>
          </div>`)
                           }
                        
                    },
                    failure: function(){
                        console.log('FAIL');
                        console.log(data);
                    }
                });
            });


// ------------------------------Category AJAX Code---------------------------------
            $('.a').on('click', function(){
                let b = $(this).text()
                console.log(b)
                $.ajax({
                    type: "get",
                    url: "/category/"+b,
                    data: {category:b},
                    success: function(data){
                        console.log(data)
                        let c = JSON.parse(data)
                        $('.main').empty()
                        for (const key in c) {
                               let d = c[key].fields;
                               $('.main').append(`<div class="card mb-3" style="text-align: center;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/media/${d.product_image}" class="img-fluid rounded-start" alt="product_image">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Name :- ${d.product_name}</h5>
                  <p class="card-text">Description :- ${d.product_description}</p>
                  <h5 class="card-title">Price :- ₹${d.product_price}</h5>
                  <h5 class="card-title">Username :- ${d.user}</h5>
                  <a href="/details/${c[key].pk}/" class="btn btn-primary">Readmore</a>
                </div>
              </div>
            </div>
          </div>`)}
                    }
                })
            })
    </script>
</body>

</html>