{% extends 'base.html' %}



{% block content %}

<h1>Home Page</h1>

{% for item in page_object %}
    <div class="product-list">
        <img src="{{item.product_image.url}}" alt="product_image">
        <h1>Name :- {{item.product_name}}</h1>
        <p>Description :- {{item.product_description}}</p>
        <h3>Price :- {{item.product_price}}</h3>
        <h3>Username :- {{item.user}}</h3>
        <a href="{% url 'details' item.id %}">Readmore</a>
    </div><br>
{% endfor %}

<div class="pagination">
    <span>
        {% if page_object.has_previous %}
            <a href="?page={{page_object.previous_page_number}}">Previous</a>
        {% endif %}

        <span>Page {{page_object.number}} of {{page_object.paginator.num_pages}}</span>

        {% if page_object.has_next %}
            <a href="?page={{page_object.next_page_number}}">Next</a>
        {% endif %}
    </span>
</div>

{% endblock content %}