{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock title %}

{% block content %}

<h1>Home Page</h1>
<p style="color: red; text-align: center;"><i>Total Product :- {{count_product}}</i></p>

{% for item in page_object %}
    <div class="product-list"><br>
        <img src="{{item.product_image.url}}" alt="product_image">
        <hr>
        <h1>Name :- {{item.product_name}}</h1>
        <p>Description :- {{item.product_description}}</p>
        <h3>Price :- ₹{{item.product_price}}</h3>
        <h3>Username :- {{item.user}}</h3>
        <a href="{% url 'details' item.id %}"><button style="border: 2px solid black;background-color: lightgrey;">Readmore</button></a><br><br>
    </div><br>
{% endfor %}

<div class="pagination">
    <span>
        {% if page_object.has_previous %}
            <a href="?page={{page_object.previous_page_number}}"><button style="border: 2px solid black;">Previous</button></a>
        {% endif %}

        <span>Page {{page_object.number}} of {{page_object.paginator.num_pages}}</span>

        {% if page_object.has_next %}
            <a href="?page={{page_object.next_page_number}}"><button style="border: 2px solid black;">Next</button></a>
        {% endif %}
    </span>
    <br><br>
</div>

{% endblock content %}