<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="username">Username : </label>
        <input type="text" name="username" id="username"><br><br>

        <label for="password1">Password : </label>
        <input type="password" name="password1" id="password1"><br><br>

        <!-- <label for="password2">Confirm Password : </label>
        <input type="password" name="password2" id="password2"><br><br> -->

        <input type="submit" value="Log In"><br><br>

        <p>For New User : <a href="{% url 'signup' %}">SignUp</a></p>
    </form>
</body>
</html>